In [90]:
import pandas as pd
import glob
import os

In [91]:
population_files = glob.glob("population/*.csv")

data = []
for csv in population_files:
    city_population = pd.read_csv(csv)
    city_population['City'] = os.path.basename(csv).replace(".csv", "")
    data.append(city_population)
    
population = pd.concat(data, ignore_index = True)
population

     Year  Population  GrowthRate  Growth           City
0    2035     1254368      0.0004    2637    Chelyabinsk
1    2030     1251731      0.0009    5517    Chelyabinsk
2    2025     1246214      0.0030   18419    Chelyabinsk
3    2020     1227795      0.0077   45940    Chelyabinsk
4    2015     1181855      0.0093   53626    Chelyabinsk
..    ...         ...         ...     ...            ...
265  1970     1034683      0.0248  119174  Yekaterinburg
266  1965      915509      0.0254  107886  Yekaterinburg
267  1960      807623      0.0254   95222  Yekaterinburg
268  1955      712401      0.0254   83973  Yekaterinburg
269  1950      628428      0.0000       0  Yekaterinburg

[270 rows x 5 columns]

In [92]:
population_1960 = population.loc[population["Year"] == 1960]

population_1960['PopulationPercent'] = population_1960['Population'] / population_1960['Population'].sum()

population_1960.sort_values('Population', ascending=False)

C:\Users\Greg\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     Year  Population  GrowthRate  Growth             City  PopulationPercent
69   1960     6169961      0.0142  421215           Moscow           0.334445
159  1960     3398457      0.0159  257631  SaintPetersburg           0.184215
87   1960      969439      0.0199   90999  NizhniyNovgorod           0.052549
105  1960      918764      0.0248  106063      Novosibirsk           0.049802
177  1960      834775      0.0240   93463           Samara           0.045249
267  1960      807623      0.0254   95222    Yekaterinburg           0.043778
15   1960      711124      0.0219   72867      Chelyabinsk           0.038547
33   1960      672641      0.0272   84511            Kazan           0.036461
141  1960      654734      0.0277   83722             Perm           0.035490
231  1960      618287      0.0298   84378        Volgograd           0.033515
123  1960      608363      0.0319   88460             Omsk           0.032977
195  1960      601921      0.0245   68521          Saratov           0.032627
213  1960      572563      0.0320   83358              Ufa           0.031036
249  1960      471829      0.0358   76117         Voronezh           0.025576
51   1960      437850      0.0420   81332      Krasnoyarsk           0.023734

In [93]:
#complete population data from 1950 to 2035

population.groupby('Year').City.nunique()

Year
1950    15
1955    15
1960    15
1965    15
1970    15
1975    15
1980    15
1985    15
1990    15
1995    15
2000    15
2005    15
2010    15
2015    15
2020    15
2025    15
2030    15
2035    15
Name: City, dtype: int64

In [94]:
weather = pd.read_csv("weather/CostOfColdWeather.csv")

weather_1960 = weather.loc[weather['Year'] == 1960]
weather_1960

                 City  StationId  Year  AvgMinJanuaryTemp  TenYearMA  Samples
23        Chelyabinsk      28748  1960             -19.15     -21.18       10
141             Kazan      27595  1960             -16.83     -16.25       10
234       Krasnoyarsk      29570  1960             -22.68     -20.02       10
296            Moscow      27612  1960             -12.13     -11.56       10
411   NizhniyNovgorod      27459  1960             -13.55     -13.35       10
510       Novosibirsk      29612  1960             -26.61     -25.01       10
600              Omsk      28698  1960             -25.35     -23.74       10
720              Perm      28224  1960             -19.09     -17.00       10
848   SaintPetersburg      26063  1960             -12.95      -9.37        9
954            Samara      27995  1960             -14.22     -17.08       10
1071          Saratov      34163  1960             -12.99     -15.38       10
1177              Ufa      28722  1960             -15.60     -17.27       10
1331         Voronezh      34123  1960              -9.82     -11.43       10
1455    Yekaterinburg      28440  1960             -19.03     -17.10       10

In [95]:
CostOfCold_1960 = pd.merge(population_1960, weather_1960, on='City')

CostOfCold_1960['CostOfCold'] = CostOfCold_1960['PopulationPercent'] * CostOfCold_1960['TenYearMA']

CostOfCold_1960

,Year_x,Population,GrowthRate,Growth,City,PopulationPercent,StationId,Year_y,AvgMinJanuaryTemp,TenYearMA,Samples,CostOfCold
0,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1960,-19.15,-21.18,10,-0.816421
1,1960,672641,0.0272,84511,Kazan,0.036461,27595,1960,-16.83,-16.25,10,-0.592488
2,1960,437850,0.0420,81332,Krasnoyarsk,0.023734,29570,1960,-22.68,-20.02,10,-0.475152
3,1960,6169961,0.0142,421215,Moscow,0.334445,27612,1960,-12.13,-11.56,10,-3.866190
4,1960,969439,0.0199,90999,NizhniyNovgorod,0.052549,27459,1960,-13.55,-13.35,10,-0.701527
5,1960,918764,0.0248,106063,Novosibirsk,0.049802,29612,1960,-26.61,-25.01,10,-1.245548
6,1960,608363,0.0319,88460,Omsk,0.032977,28698,1960,-25.35,-23.74,10,-0.782864
7,1960,654734,0.0277,83722,Perm,0.035490,28224,1960,-19.09,-17.00,10,-0.603333
8,1960,3398457,0.0159,257631,SaintPetersburg,0.184215,26063,1960,-12.95,-9.37,9,-1.726093
9,1960,834775,0.0240,93463,Samara,0.045249,27995,1960,-14.22,-17.08,10,-0.772859
10,1960,601921,0.0245,68521,Saratov,0.032627,34163,1960,-12.99,-15.38,10,-0.501809
11,1960,572563,0.0320,83358,Ufa,0.031036,28722,1960,-15.60,-17.27,10,-0.535992
12,1960,471829,0.0358,76117,Voronezh,0.025576,34123,1960,-9.82,-11.43,10,-0.292330
13,1960,807623,0.0254,95222,Yekaterinburg,0.043778,28440,1960,-19.03,-17.10,10,-0.748596

In [96]:
CostOfCold_1960['CostOfCold'].sum()

-13.661203741953676

In [97]:
population['TotalPopulation'] = population['Population'].groupby(population['Year']).transform('sum')
population['PopulationPercent'] = population['Population'] / population['TotalPopulation']

population.head()

,Year,Population,GrowthRate,Growth,City,TotalPopulation,PopulationPercent
0,2035,1254368,0.0004,2637,Chelyabinsk,34258689,0.036615
1,2030,1251731,0.0009,5517,Chelyabinsk,34186668,0.036615
2,2025,1246214,0.0030,18419,Chelyabinsk,34036252,0.036614
3,2020,1227795,0.0077,45940,Chelyabinsk,33536860,0.036610
4,2015,1181855,0.0093,53626,Chelyabinsk,32298205,0.036592

In [98]:
weather.head()

          City  StationId  Year  AvgMinJanuaryTemp  TenYearMA  Samples
0  Chelyabinsk      28748  1936             -18.91     -18.91        1
1  Chelyabinsk      28748  1937             -20.97     -19.94        2
2  Chelyabinsk      28748  1938             -26.20     -22.03        3
3  Chelyabinsk      28748  1939             -23.22     -22.32        4
4  Chelyabinsk      28748  1940             -28.78     -23.62        5

In [99]:
CostOfCold = pd.merge(population, weather, how='inner', left_on=['City', 'Year'], right_on=['City', 'Year'])

CostOfCold['CostOfCold'] = CostOfCold['PopulationPercent'] * CostOfCold['TenYearMA']

CostOfCold.head()

,Year,Population,GrowthRate,Growth,City,TotalPopulation,PopulationPercent,StationId,AvgMinJanuaryTemp,TenYearMA,Samples,CostOfCold
0,2010,1128229,0.0059,32570,Chelyabinsk,30851768,0.036569,28748,-25.25,-18.65,10,-0.682018
1,2005,1095659,0.0024,13261,Chelyabinsk,29844419,0.036712,28748,-20.08,-18.29,10,-0.671469
2,2000,1082398,-0.0039,-21630,Chelyabinsk,29055263,0.037253,28748,-17.85,-18.34,10,-0.683221
3,1995,1104028,-0.0045,-25286,Chelyabinsk,28526694,0.038702,28748,-20.24,-18.57,10,-0.718688
4,1990,1129314,0.0056,31101,Chelyabinsk,28636290,0.039436,28748,-19.43,-19.03,10,-0.750476

In [100]:
CostOfCold.groupby(by=['Year'])['CostOfCold'].sum()

Year
1950   -15.878787
1955   -14.797630
1960   -13.661204
1965   -13.538769
1970   -16.240916
1975   -16.651975
1980   -14.482596
1985   -13.838563
1990   -12.917707
1995   -12.048702
2000   -11.482508
2005   -11.441308
2010   -11.666090
Name: CostOfCold, dtype: float64

The cost of the cold is a function of a population distribution and the 10 year moving average of the average minimum january temperature. Both the population distribution and the average minimum january temperature are becoming more favorable. Which one is having a greater affect on lowering the cost of the cold?

In [101]:
population_1960.head(15)

     Year  Population  GrowthRate  Growth             City  PopulationPercent
15   1960      711124      0.0219   72867      Chelyabinsk           0.038547
33   1960      672641      0.0272   84511            Kazan           0.036461
51   1960      437850      0.0420   81332      Krasnoyarsk           0.023734
69   1960     6169961      0.0142  421215           Moscow           0.334445
87   1960      969439      0.0199   90999  NizhniyNovgorod           0.052549
105  1960      918764      0.0248  106063      Novosibirsk           0.049802
123  1960      608363      0.0319   88460             Omsk           0.032977
141  1960      654734      0.0277   83722             Perm           0.035490
159  1960     3398457      0.0159  257631  SaintPetersburg           0.184215
177  1960      834775      0.0240   93463           Samara           0.045249
195  1960      601921      0.0245   68521          Saratov           0.032627
213  1960      572563      0.0320   83358              Ufa           0.031036
231  1960      618287      0.0298   84378        Volgograd           0.033515
249  1960      471829      0.0358   76117         Voronezh           0.025576
267  1960      807623      0.0254   95222    Yekaterinburg           0.043778

In [102]:
weather_1960.head(15)

                 City  StationId  Year  AvgMinJanuaryTemp  TenYearMA  Samples
23        Chelyabinsk      28748  1960             -19.15     -21.18       10
141             Kazan      27595  1960             -16.83     -16.25       10
234       Krasnoyarsk      29570  1960             -22.68     -20.02       10
296            Moscow      27612  1960             -12.13     -11.56       10
411   NizhniyNovgorod      27459  1960             -13.55     -13.35       10
510       Novosibirsk      29612  1960             -26.61     -25.01       10
600              Omsk      28698  1960             -25.35     -23.74       10
720              Perm      28224  1960             -19.09     -17.00       10
848   SaintPetersburg      26063  1960             -12.95      -9.37        9
954            Samara      27995  1960             -14.22     -17.08       10
1071          Saratov      34163  1960             -12.99     -15.38       10
1177              Ufa      28722  1960             -15.60     -17.27       10
1331         Voronezh      34123  1960              -9.82     -11.43       10
1455    Yekaterinburg      28440  1960             -19.03     -17.10       10

In [103]:
population.head()

,Year,Population,GrowthRate,Growth,City,TotalPopulation,PopulationPercent
0,2035,1254368,0.0004,2637,Chelyabinsk,34258689,0.036615
1,2030,1251731,0.0009,5517,Chelyabinsk,34186668,0.036615
2,2025,1246214,0.0030,18419,Chelyabinsk,34036252,0.036614
3,2020,1227795,0.0077,45940,Chelyabinsk,33536860,0.036610
4,2015,1181855,0.0093,53626,Chelyabinsk,32298205,0.036592

In [104]:
weather.head()

          City  StationId  Year  AvgMinJanuaryTemp  TenYearMA  Samples
0  Chelyabinsk      28748  1936             -18.91     -18.91        1
1  Chelyabinsk      28748  1937             -20.97     -19.94        2
2  Chelyabinsk      28748  1938             -26.20     -22.03        3
3  Chelyabinsk      28748  1939             -23.22     -22.32        4
4  Chelyabinsk      28748  1940             -28.78     -23.62        5

What is the cost of the cold if the weather stayed the same, and only the population changed?

In [122]:
CostOfCold_IsolatePopulation = pd.merge(population, weather_1960, how='inner', left_on=['City'], right_on=['City'])

CostOfCold_IsolatePopulation['CostOfCold'] = CostOfCold_IsolatePopulation['PopulationPercent'] * CostOfCold_IsolatePopulation['TenYearMA']

CostOfCold_IsolatePopulation.head(10)

,Year_x,Population,GrowthRate,Growth,City,TotalPopulation,PopulationPercent,StationId,Year_y,AvgMinJanuaryTemp,TenYearMA,Samples,CostOfCold
0,2035,1254368,0.0004,2637,Chelyabinsk,34258689,0.036615,28748,1960,-19.15,-21.18,10,-0.775497
1,2030,1251731,0.0009,5517,Chelyabinsk,34186668,0.036615,28748,1960,-19.15,-21.18,10,-0.775497
2,2025,1246214,0.0030,18419,Chelyabinsk,34036252,0.036614,28748,1960,-19.15,-21.18,10,-0.775491
3,2020,1227795,0.0077,45940,Chelyabinsk,33536860,0.036610,28748,1960,-19.15,-21.18,10,-0.775406
4,2015,1181855,0.0093,53626,Chelyabinsk,32298205,0.036592,28748,1960,-19.15,-21.18,10,-0.775018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,1970,1178276,0.0195,108469,NizhniyNovgorod,22656227,0.052007,27459,1960,-13.55,-13.35,10,-0.694290
86,1965,1069807,0.0199,100368,NizhniyNovgorod,20452120,0.052308,27459,1960,-13.55,-13.35,10,-0.698310
87,1960,969439,0.0199,90999,NizhniyNovgorod,18448331,0.052549,27459,1960,-13.55,-13.35,10,-0.701527
88,1955,878440,0.0199,82435,NizhniyNovgorod,16660472,0.052726,27459,1960,-13.55,-13.35,10,-0.703892
89,1950,796005,0.0000,0,NizhniyNovgorod,15064285,0.052841,27459,1960,-13.55,-13.35,10,-0.705421

In [108]:
CostOfCold_IsolatePopulation_results = CostOfCold_IsolatePopulation.groupby(by=['Year_x'])['CostOfCold'].sum()

CostOfCold_IsolatePopulation_results

Year_x
1950   -13.496499
1955   -13.578209
1960   -13.661204
1965   -13.745328
1970   -13.825462
1975   -13.855800
1980   -13.880680
1985   -13.890944
1990   -13.885237
1995   -13.868018
2000   -13.800060
2005   -13.751845
2010   -13.714696
2015   -13.724400
2020   -13.736442
2025   -13.742945
2030   -13.744070
2035   -13.744114
Name: CostOfCold, dtype: float64

What is the cost of the cold if the population stayed the same and only the weather changed?

In [116]:
CostOfCold_IsolateWeather = pd.merge(population_1960, weather, how='inner', left_on=['City'], right_on=['City'])
CostOfCold_IsolateWeather.head()

,Year_x,Population,GrowthRate,Growth,City,PopulationPercent,StationId,Year_y,AvgMinJanuaryTemp,TenYearMA,Samples
0,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1936,-18.91,-18.91,1
1,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1937,-20.97,-19.94,2
2,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1938,-26.20,-22.03,3
3,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1939,-23.22,-22.32,4
4,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1940,-28.78,-23.62,5

In [117]:
CostOfCold_IsolateWeather['CostOfCold'] = CostOfCold_IsolateWeather['PopulationPercent'] * CostOfCold_IsolateWeather['TenYearMA']

CostOfCold_IsolateWeather.head(5)

,Year_x,Population,GrowthRate,Growth,City,PopulationPercent,StationId,Year_y,AvgMinJanuaryTemp,TenYearMA,Samples,CostOfCold
0,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1936,-18.91,-18.91,1,-0.728920
1,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1937,-20.97,-19.94,2,-0.768623
2,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1938,-26.20,-22.03,3,-0.849186
3,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1939,-23.22,-22.32,4,-0.860364
4,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1940,-28.78,-23.62,5,-0.910475

In [118]:
#Only the years in IsolatePopulation dataset
CostOfCold_IsolateWeather = pd.merge(CostOfCold_IsolateWeather, 
                                     CostOfCold_IsolatePopulation_results, 
                                     how ="inner", 
                                     left_on=['Year_y'], 
                                     right_on=['Year_x'])

CostOfCold_IsolateWeather.head(5)

,Year_x,Population,GrowthRate,Growth,City,PopulationPercent,StationId,Year_y,AvgMinJanuaryTemp,TenYearMA,Samples,CostOfCold_x,CostOfCold_y
0,1960,711124,0.0219,72867,Chelyabinsk,0.038547,28748,1950,-28.35,-21.70,9,-0.836465,-13.496499
1,1960,672641,0.0272,84511,Kazan,0.036461,27595,1950,-22.98,-16.82,9,-0.613271,-13.496499
2,1960,437850,0.0420,81332,Krasnoyarsk,0.023734,29570,1950,-23.98,-20.74,10,-0.492240,-13.496499
3,1960,6169961,0.0142,421215,Moscow,0.334445,27612,1950,-21.62,-14.05,2,-4.698959,-13.496499
4,1960,969439,0.0199,90999,NizhniyNovgorod,0.052549,27459,1950,-22.97,-15.68,10,-0.823966,-13.496499

In [119]:
CostOfCold_IsolateWeather_Results = CostOfCold_IsolateWeather.groupby(by=['Year_y'])['CostOfCold_x'].sum()

In [121]:
CostOfCold_IsolateWeather_Results

Year_y
1950   -16.032799
1955   -14.882245
1960   -13.661204
1965   -13.446045
1970   -16.102377
1975   -16.438760
1980   -14.247387
1985   -13.629734
1990   -12.698079
1995   -11.835305
2000   -11.325604
2005   -11.362068
2010   -11.608066
Name: CostOfCold_x, dtype: float64