In [36]:
import pandas as pd
import glob
import os

In [78]:
population_files = glob.glob("population/*.csv")

data = []
for csv in population_files:
    city_population = pd.read_csv(csv)
    city_population['City'] = os.path.basename(csv).replace(".csv", "")
    data.append(city_population)
    
population = pd.concat(data, ignore_index = True)
population

     Year  Population  GrowthRate  Growth           City
0    2035     1254368      0.0004    2637    Chelyabinsk
1    2030     1251731      0.0009    5517    Chelyabinsk
2    2025     1246214      0.0030   18419    Chelyabinsk
3    2020     1227795      0.0077   45940    Chelyabinsk
4    2015     1181855      0.0093   53626    Chelyabinsk
..    ...         ...         ...     ...            ...
265  1970     1034683      0.0248  119174  Yekaterinburg
266  1965      915509      0.0254  107886  Yekaterinburg
267  1960      807623      0.0254   95222  Yekaterinburg
268  1955      712401      0.0254   83973  Yekaterinburg
269  1950      628428      0.0000       0  Yekaterinburg

[270 rows x 5 columns]

In [79]:
population_1960 = population.loc[population["Year"] == 1960]

population_1960['PopulationPercent'] = ( population_1960['Population'] / population_1960['Population'].sum() ) * 100

population_1960.sort_values('Population', ascending=False)

C:\Users\Greg\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     Year  Population  GrowthRate  Growth             City  PopulationPercent
69   1960     6169961      0.0142  421215           Moscow          33.444548
159  1960     3398457      0.0159  257631  SaintPetersburg          18.421488
87   1960      969439      0.0199   90999  NizhniyNovgorod           5.254887
105  1960      918764      0.0248  106063      Novosibirsk           4.980201
177  1960      834775      0.0240   93463           Samara           4.524935
267  1960      807623      0.0254   95222    Yekaterinburg           4.377756
15   1960      711124      0.0219   72867      Chelyabinsk           3.854679
33   1960      672641      0.0272   84511            Kazan           3.646081
141  1960      654734      0.0277   83722             Perm           3.549015
231  1960      618287      0.0298   84378        Volgograd           3.351452
123  1960      608363      0.0319   88460             Omsk           3.297659
195  1960      601921      0.0245   68521          Saratov           3.262740
213  1960      572563      0.0320   83358              Ufa           3.103603
249  1960      471829      0.0358   76117         Voronezh           2.557570
51   1960      437850      0.0420   81332      Krasnoyarsk           2.373385

In [58]:
#complete population data from 1950 to 2035

population.groupby('Year').city.nunique()

AttributeError: 'DataFrameGroupBy' object has no attribute 'city'

In [59]:
weather = pd.read_csv("weather/CleanedCostOfColdWeather.csv")

weather_1960 = weather.loc[weather['Nearest5Year'] == 1960]
weather_1960

                City  Nearest5Year  AvgMinJanuaryTemp  Samples
5        Chelyabinsk          1960             -18.24        5
30             Kazan          1960             -13.21        5
41       Krasnoyarsk          1960             -11.65        3
54            Moscow          1960              -9.15        5
78   NizhniyNovgorod          1960             -11.15        5
89       Novosibirsk          1960             -22.10        5
109             Omsk          1960             -21.00        5
134             Perm          1960             -14.39        5
161  SaintPetersburg          1960              -8.41        5
183           Samara          1960             -13.98        5
209          Saratov          1960             -12.28        5
232              Ufa          1960             -15.26        5
247        Volgograd          1960              -8.31        2
266         Voronezh          1960              -9.07        5
293    Yekaterinburg          1960             -14.85        5

In [66]:
CostOfCold_1960 = pd.merge(population_1960, weather_1960, on='City')

CostOfCold_1960['CostOfCold'] = CostOfCold_1960['PopulationPercent'] * CostOfCold_1960['AvgMinJanuaryTemp']

CostOfCold_1960

,Year,Population,GrowthRate,Growth,City,PopulationPercent,Nearest5Year,AvgMinJanuaryTemp,Samples,CostOfCold
0,1960,711124,0.0219,72867,Chelyabinsk,3.854679,1960,-18.24,5,-70.309351
1,1960,672641,0.0272,84511,Kazan,3.646081,1960,-13.21,5,-48.164723
2,1960,437850,0.0420,81332,Krasnoyarsk,2.373385,1960,-11.65,3,-27.649940
3,1960,6169961,0.0142,421215,Moscow,33.444548,1960,-9.15,5,-306.017618
4,1960,969439,0.0199,90999,NizhniyNovgorod,5.254887,1960,-11.15,5,-58.591993
5,1960,918764,0.0248,106063,Novosibirsk,4.980201,1960,-22.10,5,-110.062446
6,1960,608363,0.0319,88460,Omsk,3.297659,1960,-21.00,5,-69.250834
7,1960,654734,0.0277,83722,Perm,3.549015,1960,-14.39,5,-51.070323
8,1960,3398457,0.0159,257631,SaintPetersburg,18.421488,1960,-8.41,5,-154.924710
9,1960,834775,0.0240,93463,Samara,4.524935,1960,-13.98,5,-63.258592
10,1960,601921,0.0245,68521,Saratov,3.262740,1960,-12.28,5,-40.066442
11,1960,572563,0.0320,83358,Ufa,3.103603,1960,-15.26,5,-47.360986
12,1960,618287,0.0298,84378,Volgograd,3.351452,1960,-8.31,2,-27.850568
13,1960,471829,0.0358,76117,Voronezh,2.557570,1960,-9.07,5,-23.197161
14,1960,807623,0.0254,95222,Yekaterinburg,4.377756,1960,-14.85,5,-65.009683

In [67]:
CostOfCold_1960['CostOfCold'].sum()

-1162.7853718040944

In [80]:
population['TotalPopulation'] = population['Population'].groupby(population['Year']).transform('sum')
population['PopulationPercentange'] = population['Population'] / population['TotalPopulation']

population.head()

,Year,Population,GrowthRate,Growth,City,TotalPopulation,PopulationPercentange
0,2035,1254368,0.0004,2637,Chelyabinsk,34258689,0.036615
1,2030,1251731,0.0009,5517,Chelyabinsk,34186668,0.036615
2,2025,1246214,0.0030,18419,Chelyabinsk,34036252,0.036614
3,2020,1227795,0.0077,45940,Chelyabinsk,33536860,0.036610
4,2015,1181855,0.0093,53626,Chelyabinsk,32298205,0.036592

In [81]:
weather.head()

          City  Nearest5Year  AvgMinJanuaryTemp  Samples
0  Chelyabinsk          1935             -19.94        2
1  Chelyabinsk          1940             -25.12        5
2  Chelyabinsk          1945             -20.98        5
3  Chelyabinsk          1950             -21.94        4
4  Chelyabinsk          1955             -22.10        5

In [86]:
CostOfCold = pd.merge(population, weather, how='inner', left_on=['City', 'Year'], right_on=['City', 'Nearest5Year'])

CostOfCold['CostOfCold'] = CostOfCold['PopulationPercentange'] * CostOfCold['AvgMinJanuaryTemp']

CostOfCold.head()

,Year,Population,GrowthRate,Growth,City,TotalPopulation,PopulationPercentange,Nearest5Year,AvgMinJanuaryTemp,Samples,CostOfCold
0,2010,1128229,0.0059,32570,Chelyabinsk,30851768,0.036569,2010,-21.58,3,-0.789167
1,2005,1095659,0.0024,13261,Chelyabinsk,29844419,0.036712,2005,-18.23,5,-0.669266
2,2000,1082398,-0.0039,-21630,Chelyabinsk,29055263,0.037253,2000,-16.52,5,-0.615421
3,1995,1104028,-0.0045,-25286,Chelyabinsk,28526694,0.038702,1995,-19.85,5,-0.768226
4,1990,1129314,0.0056,31101,Chelyabinsk,28636290,0.039436,1990,-18.40,5,-0.725631

In [90]:
CostOfCold.groupby(by=['Year'])['CostOfCold'].sum()

Year
1950   -12.763666
1955   -13.247600
1960   -11.627854
1965   -16.367825
1970   -17.537390
1975   -14.910179
1980   -14.099391
1985   -13.450734
1990   -11.047299
1995   -11.898307
2000   -10.029566
2005   -10.835726
2010   -13.938406
Name: CostOfCold, dtype: float64